@import '../../global.scss';

.projects-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: orangered;
}

.project-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 75%;
    height: 75%;

    background-color: white;

    .project-categories{
        flex: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        ul{
            display: flex;
            flex-direction: row;
            align-items: center;
            list-style: none;
            justify-content: space-between;
            padding: 0px;

            li{
                background-color: $mainColor;
                color: white;
                padding: 10px;
                margin: 10px;
                border-radius: 10px;
            }

        }
    }

    .project-items{
        flex: 10;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 19px;
        margin: 5px;
        width: 1220px;
    }
}



