@import '../../global.scss';

.portfolio{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mobile{
        justify-content: flex-start;
    }

    h1{
        font-size: 50px;

        @include mobile{
            font-size: 20px;
        }
    }

    ul{
        list-style: none;
        margin: 10px;
        padding: 0;
        display: flex;

        @include mobile{
            margin: 10px 0;
            flex-wrap: wrap;
            justify-content: center;
        }

        // li{
        //     padding: 10px;
        //     font-size: 14px;
        //     margin-right: 50px;
        //     cursor: pointer;
            
        //     &.active{
        //         background-color: $mainColor;
        //         color: white;
        //         border-radius: 5px;
                
        //     }
        // }
    }

    .container{
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        @include mobile{
            width: 100%;
        }

        .item{
            width: 220px;
            height: 150px;
            border-radius: 20px;
            margin: 10px 20px;
            display: flex;
            // flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 1px solid white;
            position: relative;
            color: white;
            transition: all .5s ease;
            background-color: $mainColor;

            @include mobile{
                width: 130px;
                height: 100px;
                margin: 0 10px;
            }

            h3{
                font-size: 20px;
                position: absolute;
                color: white;
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 1;
            }

            &:hover{
                img{
                    opacity: 0.2;
                    z-index: 0;
                }
                background-color: $mainColor;
            }
        }

    }

    
}