.contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    background-color: lightgreen;

}

.contact-content{
    display: flex;
    width: 75%;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    border-style: solid;

    img{
        width: 25%;
        border-radius: 50%;
    }

    p{
        width: 50%;
    }
}

