@import "../../global.scss";

.navbar{
    height: 70px;
    width: 100%;
    position: fixed;
    background-color: white;
    top: 0;
    z-index: 4;
    transition: all .5s ease;

    .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        // height: 100%;
        padding: 10px 30px;
        
        .left{
            display: flex;
            align-items: center;

            .logo{
                font-size: 40px;
                font-weight: 700;
                color: inherit;
            }

            .itemContainer{
                display: flex;
                align-items: center;
                margin-left: 30px;

                @include mobile{
                    display: none;
                }
            }
        }

        .right{
            .hamburger{
                display: flex;
                flex-direction: column;
                width: 32px;
                height: 25px;
                justify-content: space-between;
                cursor: pointer;
                

                span{
                    background-color: $mainColor;
                    width: 100%;
                    height: 3px;
                    transform-origin: left;
                    transition: all .5s ease;
                }
            }
        }
    }

    &.active{
        background-color: $mainColor;
        color: white;
        z-index: 4;
        .hamburger{
            
            span{
                &:first-child {
                    background-color: white;
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:last-child {
                    background-color: white;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

