@import '../../global.scss';

.works{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: crimson;
    // flex-direction: column;
    position: relative;
    transition: all ease .5s;

    @include mobile{
        flex-direction: column;
    }
    
    .arrow{
        cursor: pointer;
        position: absolute;
        color: blue;
        z-index: 2;
        border-style: solid;
        border-color: white;
        fontSize: 100px;

        @include mobile{
            display: none;
        }

        &.left{
            left: 100px;
        }

        &.right{
            right: 100px;
        }
    }

    .slider{
        height: 350px;
        display: flex;
        position: absolute;
        left: -100vw;
        transition: all 1s ease;

        .container{
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;

            .item{
                //items in the slider
                width: 700px;
                height: 100%;
                background-color: white;
                border-radius: 20px;

                display: flex;
                justify-content: center;
                align-items: center;
                // flex-direction: row;

                .left{
                    flex: 4;
                    height: 80%;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .leftContainer{
                        display: flex;
                        flex-direction: column;
                        // align-items: center;
                        justify-content: space-between;
                        width: 90%;
                        height: 70%;

                        .imgContainer{
                            border-radius: 50%;
                            width: 45px;
                            height: 45px;
                            background-color: coral;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .img{
                                width: 25px;
                            }
                        }

                        h2{
                            font-size: 20px;
                        }

                        p{
                            font-size: 13px;
                        }
                        span{
                            font-size: 12px;
                            font-weight: 600;
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }

                .right{
                    flex: 8;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    
                    img{
                        width: 400px;
                        transform: rotate(-10deg);
                    }
                }
            }
        }
    }

}
