@import "../../global.scss";

.intro{
    display: flex;
    background-color: white;

    @include mobile{
        flex-direction: column;
        align-items: center;
    }

    .left{
        flex: .5;
        overflow: hidden;

        .imgContainer{
            width: 100%;
            height: 100%;
            overflow-y: hidden;
            float: center;

            img{
                height: 100%;
                width: 100%;
                object-fit: none;
                object-position: 35% center;
                border-radius: 50%;
            }
        }
    }

    .right{
        display: flex;
        flex: .5;
        position: relative;

        @include mobile{
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 50px;
            width: 100%;
            height: 100%;

            @include mobile{
                align-items: center;
                padding-left: 0;
            }

            h1{
                font-size: 60px;
                margin: 10px 0;
                @include mobile{
                    margin: 10px 10px;
                }
            }

            h2{
                font-style: 35px;
            }

            h3{
                font-style: 30px;
            }
            span{
                font-size: inherit;
            }

        }

        a{
            position: absolute;
            bottom: 10px;
            .img{
                width: 50px;
            }
        }
        
    }
}

