.App{
    height: 100vh;

}

.sections{
    top: 70px;
    width: 100%;
    height: calc(100vh - 70px);
    position: relative;
    scroll-snap-type: y mandatory;
    overflow: scroll;
    scroll-behavior: smooth;
    > * {
        height: calc(100vh - 70px);
        scroll-snap-align: start;
    }
}